body {
    background-color: #000;
    color: #fff;

    /* Allow mouse dragging. */
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;

    /* Allow canvas to hit the edges of the browser viewport. */
    margin: 0;
    padding: 0;
}

#turn_block {
    text-align:center;
    height: 30px;
    font-size: 150%;
}

#left_block {
    float: left;
    width: 250px;
    height: auto;
    border: 2px solid #0000FF;
    font-size: 150%;
}

ul {
    margin: 0; padding: 0;
}

#right_block {
    float:right;
    width: auto;
    height: auto;
}

#attacker_block {
    width: 250px;
    height: auto;
    border: 2px solid #0000FF;
    font-size: 150%;
}

#target_block {
    width: 250px;
    height: auto;
    border: 2px solid #0000FF;
    font-size: 150%;   
}