body{
	text-align: center;
}

#regi_box{
	background-color: #DAA520;
	border-radius: 10px;
	width: 400px;
	height: 180px;
	margin: 0 auto;
	margin-top: 8%;
}

#regi_box > form{
	text-align: center;
	padding-top: 40px;
	font-size: 18px;
}

#regi_box > p{
	font-size: 17px;
	margin-top: 20px;
}

a:link{
	text-decoration: none;
}
