body{
	background-color: #000033;
	z-index: -9999;
	height: 100%;
	width: 100%;
	margin: 0 auto;
	position: absolute;
}

#title{
	color: #DAA520;
	font-size: 35px;
	margin-left:25px;
	margin-top:0px;
	margin-bottom: 0px;
	font-family: Copperplate, "Copperplate Gothic Light", fantasy;
	clear: both;
	text-align: center;
}

#top{
	padding-bottom: 5px;
	height: 60px;
}

hr {height: 1px;
	margin-bottom: 0px;
	color: #DAA520;
}

#login{
	background-color:#DAA520;
	text-align: center;
	width: 25%;
	height: 150px;
	border-radius: 10px;
	margin: 0 auto;
	margin-top: 10%;
}

#gen_login{
	padding-top: 10%;
	font-size: 18px;
}

#login > p{
	font-size: 18px;
}

a:link {
	text-decoration: none;
}
