#top{
	padding-bottom: 0;
}
#welcome{
	float: right;
	margin-top: -35px;
	margin-right: 20%%;
	font-size: 20px;
}

#home_page{
	display: block;
}

button{
	height: 30px;
	min-width: 30px;
}

#navigation{
	margin-left: 30px;
	margin-top: 10px;
	clear:both;
}

#your_teams_box{
	text-align: center;
	background-color: white;
	float: right;
	margin-top: 30px;
	margin-right: 8%;
	width: 45%;
	height: 530px;
	border: 1px solid black;
	border-radius: 10px;	
}

#your_teams_box > h2{
	margin-top: 2px;
	margin-bottom: 0px;
}

#your_teams > button{
	float: left;
	margin-left: 20px;
	margin-top: 3px;
	display: none;
	margin-bottom: -15px;
}
#your_teams {
	width: 90%;
	height: 450px;
	border: 2px dotted black;
	margin: 0 auto;
	border-radius: 10px;
	text-align: center;
}

#your_teams > ul{
	float: left;
	margin-top: ;
}

.teams{
	width: 550px;
	height: 60px;		
	border: 1px dotted black;
	border-radius: 10px;
}

.teams >img{
	max-width: 54px;
	max-height: 54px;
	float: left;
	margin-left: 9px;
	margin-right: 3px;
	margin-top: 2px;
	border: 1px solid black;
	border-radius: 10px;
}

#your_stats{
	width: 200px;
	height: 100px;
	background-color: white;
	border: 1px solid black;
	border-radius: 10px;
	margin-left: 200px;
	margin-top: 200px;
}

#your_stats > table{
	font-size: 20px;
	padding-left: 10px;
}

#newMatch{
	margin-left: 20px;
}

#battle{
	border: 1px double black;
	background-color: white;
	height: 50%;
	width: 60%;
	position: absolute;
	left: 20%;
	right: 20%;
	top: 150px;
	display: none;
}

#battle > p{
	margin-top: -22px;
	height:auto;
	font-size: 20px;
	border: 1px solid black;
	background-color:white;
	width: 98%;
}

#left_block {
    float: left;
    margin-left: -280px;
    margin-top: 75px;
    width: 250px;
    height: auto;
    border: 1px solid #0000FF;
    }

#right_block {
    float: right;
    margin-right: -280px;
    margin-top: 75px;
    width: 250px;
    height: auto;
    border: 1px solid #0000FF;
}

#bottom_block{
	border: 1px solid #0000FF;
	width: auto;
	margin-top: 460px;
	height: 150px;
}
#close{
	float: right;
	margin-right: 0px;
	margin-top: -50px;
	background-color:white;
}

#teams_build{
	display: none;
	margin-top: 30px;
	position: relative;
	width: 100%;
	height: auto;
}

#teams_build >div {
	background-color:white;
	width: 40%;
	height: 600px;
	border: 1px solid black;
	display: inline-block;
}

#teamBuild{
	float: left;
	margin-left: 30px;
}

}
#teams_build >div > p{
	margin-top: -20px;
	text-align: center;
}

#close_Builder{
	background-color: white;
	position: absolute;
	margin-top: -29px;
	margin-left: -30px;
}
#character{
	font-size: 20px;
	margin-left: 10px;
}	

#character > img{
	width: 150px;
	height: 150px;
	border: 2px solid gold;
	float: right;
	margin-right: 10px;
	margin-top: -30px;
}
